#hero-image {
  background: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41502758_1854625691272857_8138710215555022848_n.jpg?_nc_cat=0&oh=e9159a2362917a4a4b0aff89fa7c3190&oe=5C36EBE2") no-repeat center;
/*  background-position: center;
  background-repeat: no-repeat;  */
  background-size: contain;
  height: 1000px;
}

/*#hero-text {
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
  word-spacing: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}*/


table.wes-honkomp {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Trebuchet MS';
  table-layout: fixed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1000px;
  width: 100%;
} 

table.contact-info {
  font-size: 40px;
  table-layout: fixed;
  text-align: center;
  font-family: 'Trebuchet MS';
  height: 100px;
  width: 100%;
} 

.Education {
  background: url("http://www.d.umn.edu/~wgui/images/UMD-Logo.jpg") no-repeat center;
/*  background-position: center;
  background-repeat: no-repeat;   */
  background-size: contain;
  height: 800px;
}
#Education-Block {
  background-color: rgba(255, 255, 255, .65);
  font-size: 50px;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  text-align: center;
  height: 100%;
}

/*#Education-Block {
  font-size: 50px;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 25%;
  height: 50%;
}*/

.experience-details {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  font-family: 'Trebuchet MS';
  text-align: center;
  position: relative;
  top: 20%;
}
.experience-details h3 a{
  text-decoration: none;
}

.block-content {
  font-size: 17px;
  font-family: 'Trebuchet MS';
  padding: 2px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
  top: 35%;
  left: 20%;
  width: 75%;
}

#nlhc-image{
  background: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41710792_1856999501035476_3023891988404502528_o.jpg?_nc_cat=0&oh=47a6d9454fe7066ca018a20efcb29c84&oe=5C25EC6A") no-repeat right center; 
/*  background-position: right center;
  background-repeat: no-repeat;  */
  background-size: cover;
  height: 800px;
}

#ranch-image {
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/13731697_10153559178836736_4186906306875810536_n.jpg?_nc_cat=0&oh=ff9bd509549045e74861b6211b750911&oe=5C1E7DD6"); 
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

#wozupi-image {
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/11922862_881441245276608_5782550642787136502_o.jpg?_nc_cat=0&oh=848f12f90a9e97cc74880c3a9dd84025&oe=5C393CAA"); 
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  
}
#grammy-image {
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41543106_1854664701268956_4939722589565091840_n.jpg?_nc_cat=0&oh=78ce4ae4662e2e62ac00feda46b15bc7&oe=5C39787D");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
