#hero-image {
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41502758_1854625691272857_8138710215555022848_n.jpg?_nc_cat=0&oh=e9159a2362917a4a4b0aff89fa7c3190&oe=5C36EBE2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1000px;

}

#hero-text {
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  text-size: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  font-size: 50px;
  text-align: center;
  font-family: 'Trebuchet MS';
  height: 200px;
  border: 1px;

}

#contact-info {
  font-size: 100px;
}
