.hero-image {
  background: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41502758_1854625691272857_8138710215555022848_n.jpg?_nc_cat=0&oh=e9159a2362917a4a4b0aff89fa7c3190&oe=5C36EBE2") no-repeat center;
  background-size: contain;
  height: 800px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero-image ul {
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Trebuchet MS';
  margin: 0px;
  padding: 0px;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-image: linear-gradient(rgba(255, 255, 255, 0) , rgba(255, 255, 255, 1));
}

.hero-image li {
  width: 100%;
  list-style: none;
}

address ul {
  font-size: 40px;
  font-family: 'Trebuchet MS';
  text-align: center;
  list-style: none;
  margin: 0px;
}

address li {
  padding: 0% 10% 0% 10%;
}

/*
table.wes-honkomp {
  font-size: 85px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Trebuchet MS';
  table-layout: fixed;
  position: absolute;
  top: 80px;
  height: 800px;
  width: 100%;
} 

table.contact-info {
  font-size: 40px;
  table-layout: fixed;
  text-align: center;
  font-family: 'Trebuchet MS';
  height: 100px;
  width: 100%;
} 
*/
.Education {
  background: url("http://www.d.umn.edu/~wgui/images/UMD-Logo.jpg") no-repeat center;
  background-size: contain;
  height: 800px;
}

.Education-Block {
  background-color: rgba(255, 255, 255, .65);
  font-size: 50px;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  text-align: center;
  height: 100%;
} 
.Education-Block h3 {
  margin-top: 0px;
}
.experience-details {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) , rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
  font-size: 25px;
  font-family: 'Trebuchet MS';
  text-align: center;
  position: relative;
  top: 20%;
}

.experience-details h3 a{
  text-decoration: none;
}

.block-content {
  font-size: 17px;
  font-family: 'Trebuchet MS';
  padding: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
  top: 40%;
  left: 20%;
  width: 75%;
}

/* Can I consolidate images further?  */

.nlhc-image{
  background: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41710792_1856999501035476_3023891988404502528_o.jpg?_nc_cat=0&oh=47a6d9454fe7066ca018a20efcb29c84&oe=5C25EC6A") no-repeat right center; 
  background-size: cover;
  height: 800px;
}

.ranch-image {
  background: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/13731697_10153559178836736_4186906306875810536_n.jpg?_nc_cat=0&oh=ff9bd509549045e74861b6211b750911&oe=5C1E7DD6") no-repeat right center; 
  background-size: cover;
  height: 800px;
}

.wozupi-image {
  background: url("https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/11922862_881441245276608_5782550642787136502_o.jpg?_nc_cat=0&oh=848f12f90a9e97cc74880c3a9dd84025&oe=5C393CAA") no-repeat right center; 
  background-size: cover;
  height: 800px;
  
}
.grammy-image {
  background: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41543106_1854664701268956_4939722589565091840_n.jpg?_nc_cat=0&oh=78ce4ae4662e2e62ac00feda46b15bc7&oe=5C39787D") no-repeat center center;
  background-size: cover;
  height: 800px;
}
