#name {
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41502758_1854625691272857_8138710215555022848_n.jpg?_nc_cat=0&oh=e9159a2362917a4a4b0aff89fa7c3190&oe=5C36EBE2");
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
}

table {
  padding: 100px;
  font-size: 50px;
  text-align: center;
  opacity: 20%;
  width: auto;
  height: auto;
  margin: auto;
  border: 1px;
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41502758_1854625691272857_8138710215555022848_n.jpg?_nc_cat=0&oh=e9159a2362917a4a4b0aff89fa7c3190&oe=5C36EBE2");
  background-position: center;

}

