#hero-image {
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41502758_1854625691272857_8138710215555022848_n.jpg?_nc_cat=0&oh=e9159a2362917a4a4b0aff89fa7c3190&oe=5C36EBE2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1000px;
}

#hero-text {
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  font-size: 40px;
  text-align: center;
  font-family: 'Trebuchet MS';
  height: 100px;
  width: 100%;
} 

.Education {
  background-image: url("http://www.d.umn.edu/~wgui/images/UMD-Logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
}
#Education-Block {
  font-size: 50px;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 25%;
  height: 50%;
 
}

.experience-details {
  background-color: white;
  opacity: 1;
  font-size: 20px;
  font-family: 'Trebuchet MS';
  text-align: center;
  position: relative;
  top: 25%;
}

.block-content {
  font-size: 15px;
  font-family: 'Trebuchet MS';
  background-color: rgb(0,0,0,.2);
  position: relative;
  top: 15%;
  left: 100px;
  width: 50%;
}
#nlhc-image{
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41710792_1856999501035476_3023891988404502528_o.jpg?_nc_cat=0&oh=47a6d9454fe7066ca018a20efcb29c84&oe=5C25EC6A"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
}

#ranch-image {
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/13731697_10153559178836736_4186906306875810536_n.jpg?_nc_cat=0&oh=ff9bd509549045e74861b6211b750911&oe=5C1E7DD6"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
}

#wozupi-image {
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/11922862_881441245276608_5782550642787136502_o.jpg?_nc_cat=0&oh=848f12f90a9e97cc74880c3a9dd84025&oe=5C393CAA"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
}
#grammy-image {
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/41543106_1854664701268956_4939722589565091840_n.jpg?_nc_cat=0&oh=78ce4ae4662e2e62ac00feda46b15bc7&oe=5C39787D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
}
